<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RestaurantApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Hassan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <RestaurantApp.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>SQLSERVER</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>sell_db</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>sql</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>donotCare</value>
            </setting>
            <setting name="printer" serializeAs="String">
                <value>var</value>
            </setting>
            <setting name="k_printer" serializeAs="String">
                <value>var</value>
            </setting>
        </RestaurantApp.Properties.Settings>
        <Hassan.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>SQLSERVER</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>sell_db</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>sql</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>donotCare</value>
            </setting>
        </Hassan.Properties.Settings>
    </userSettings>
</configuration>
